body {
    background-color: transparent;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    font-weight: lighter;
}

input {
    margin: 20px;
    border: 3px solid rgb(127, 142, 11);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(127, 142, 11);
    width: 80%;
}

input::placeholder {
    color: rgb(127, 142, 11);
}

button {
    background-color: rgb(127, 142, 11);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#url-list {
    border: 3px solid rgb(127, 142, 11);
    border-radius: 5px;
    margin-top: 20px;
    list-style-type: none;
    min-width: 80%;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
  color: rgb(127, 142, 11);
}

a:visited {
  color: rgba(131, 18, 159, 0.625);
} 

a:hover {
  color: red;
}

a:active {
  color: green;
}